$small: 400px;
$mid: 440px;
$medium: 1024px;


.container {

    display: block;
    padding-top: 20px;
    padding-inline: 30px;

    .bodyCard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding-bottom: 10px;
        gap: 20px;

        @media screen and (max-width: $small) {
            grid-template-columns: 1fr;
        }

        @media screen and (max-width: $mid) and (min-width: $small) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: $medium) and (min-width: $mid) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    h1 {
        font-size: 25px;
        padding-bottom: 20px;


        @media screen and (max-width: $small) {
            font-size: 15px;
        }

        @media screen and (max-width: $medium) and (min-width: $small) {
            font-size: 20px;
        }
    }

}