$small: 400px;
$smallpls: 500px;
$mid: 750px;
$medium: 1024px;

.header{
    height: 120px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    background-color: white;

    .t1{
        position: absolute;
        right: 0;
        background-image: linear-gradient(to left, #6bd79c, #264d37);
        clip-path: polygon(100% 0 , 100% 60% , 0 0);
    }

    .t2{
        position: absolute;
        left:0;
        background-image: linear-gradient(to right, #3070A3, #4eb9b0);
        clip-path: polygon(0 0, 0 60% , 85% 0);
    }

    .headerText{
        background-color: #fff;
        padding-top: 45px;

        h1{
            background: linear-gradient(to right, #3b7152, #6bd79c);
            background-clip: text;
            color: transparent;
            font-size: 24px;
            
    
            @media screen and (max-width: $small) {
                font-size: 13px;  
                padding-top: 20px;  
            }

            @media screen and (max-width: $smallpls) and (min-width: $small) {
                font-size: 15px;  
                padding-top: 15px; 
            }


            @media screen and (max-width: $mid) and (min-width: $smallpls) {
                font-size: 19px;  
                padding-top: 5px; 
            }

            @media screen and (max-width: $medium) and (min-width: $mid) {
                font-size: 20px;  
            }
        } 

        p{
            font-size: 15px;
            color: rgb(53, 52, 52);
            background-color: #fff;

            @media screen and (max-width: $small) {
                font-size: 9px;
            }

            @media screen and (max-width: $medium) and (min-width: $small) {
                font-size: 12px;
            }
        }
    }
}