.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    padding-top: 15px;
    height: 60px;
    
    
    h1{
        color: green;
        font-size: small;
        margin-top: revert;
        background-color: white;
    }

    .buttonContainer{
        background-color: white;
    }

}