.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
    padding-top: 20px;

    
    h1{
        color: green;
        font-size: medium;

    }

    .buttonContainer{
        
    }

}